.teacher-dashboard {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
    background-color: #f8f2e8;
    min-height: 100vh;

}

.teacher-dashboard .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.teacher-dashboard .dashboard-title {
    font-size: 2.5rem;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.teacher-dashboard .add-course-btn {
    background: linear-gradient(-45deg, #ffbc36bd, #f97b45);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 4px 6px rgba(24, 144, 255, 0.3);
    border-style: outside;
    font-weight: 600;

}

.teacher-dashboard .add-course-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(24, 144, 255, 0.4);
}

.teacher-dashboard .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.teacher-dashboard .dashboard-card {
    /*background-color: #fbf9f4;*/
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teacher-dashboard .dashboard-card:hover {
    transform: translateY(-5px);
    /*box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);*/
}

.teacher-dashboard .summary-card {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(65deg, #ffbc36, #ff8640cf);
    color: #ffffff;
    padding: 20px;
}

.teacher-dashboard .summary-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.teacher-dashboard .summary-icon {
    font-size: 2.5rem;
}

.teacher-dashboard .summary-info h3 {
    font-size: 2rem;
    margin: 0;
}

.teacher-dashboard .summary-info p {
    margin: 0;
    opacity: 0.8;
}

.teacher-dashboard .form-card {
    grid-column: 1 / -1;
    padding: 20px;
}

.teacher-dashboard .cancel-btn {
    background-color: #ff4d4f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.teacher-dashboard .cancel-btn:hover {
    background-color: #ff7875;
}

.teacher-dashboard .error-message {
    color: #ff4d4f;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
}

.teacher-dashboard .loading-message {
    text-align: center;
    font-size: 10.2rem;
    color: #FFBC36;
    margin-top: 20px;
    font-weight: 700;
    padding: 20%;
}

@media (max-width: 768px) {
    .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .add-course-btn {
        margin-top: 10px;
    }

    .summary-card {
        flex-direction: row;
    }

    .teacher-dashboard {
        padding-top: 25%;
    }
}