.sd-main-container {
    background-color: #f8f2e8;
    padding-top: 30px;
}

.sd-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sd-subtitle {
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #34495e;
}

.sd-loading {
    text-align: center;
    font-size: 10.2rem;
    color: #FFBC36;
    margin-top: 20px;
    font-weight: 700;
    padding: 20%;
}

.sd-error {
    text-align: center;
    font-size: 1.2rem;
    color: #e74c3c;
    margin-top: 20px;
}