.navbar {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
    transition: top 0.3s;
    z-index: 1000;
}

.navbar.hidden {
    top: -100px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.nav-icon {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}

.nav-icon .nav-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.nav-icon:hover .nav-text {
    display: block;
}

.navbar.mobile-view {
    background-color: #fff;
}

.nav-link {
    display: none;
}

@media (max-width: 767px) {
    .border-top {
        border-top: 1px solid #ced4da !important;
    }

    .padding-top {
        padding-top: 10px;
    }

    #basic-navbar-nav {
        margin-top: 10px;
    }

    .nav-icon {
        display: none;
    }

    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
    }

    .navbar.mobile-view {
        background-color: #fff;
    }
}